@tailwind base;
@tailwind components;
@tailwind utilities;

/* Map height adjustment for responsiveness */
@media (max-width: 768px) {
  svg {
    height: 400px;
  }
}

@media (max-width: 480px) {
  svg {
    height: 300px;
  }
}

/* Center the map and state data on smaller screens */
div[style*="position: relative"] {
  align-items: center !important;
}

.map-container {
  display: flex;
  flex-direction: row-reverse; /* Reverse the direction to float map to the right */
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

.map {
  width: 50%; /* Adjust width as needed */
  height: 500px;
}
